<!DOCTYTE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ user.name }}'s Watchlist</title>
		<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename="style.css") }}">
	</head>
	<body>
		<img alt="Avator" class="avatar" src="{{ url_for('static', filename='images/avatar.png') }}">
		<h2>{{ user.name }}'s Watchlist</h2>
		<p>{{ movies|length }} Titles</p>
		<ul class="movie-list">
			{% for movie in movies %}
			<li>{{ movie.title }} - {{ movie.year }}</li>
			{% endfor %}

		</ul>
		<img alt="Walking Totoro" class="totoro" src="{{ url_for('static', filename='images/totoro.gif') }}">
		<footer>
			<small>&copy; 2021 <a href="https://szou.me">szou.me</a></small>
		</footer>
	</body>
</html>
